<!DOCTYPE html>
<html>
  <head>
    <title>FilmCatalog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "global", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav style="display: flex; justify-content: center; align-itens: center">
      <div>
        <button><%= link_to 'adicionar um novo gênero', new_movie_genre_path %></button>
        <button><%= link_to 'listar os gêneros', showall_movie_genres_path %></button>

        <button><%= link_to 'adicionar um novo diretor', new_director_path %></button>
        <button><%= link_to 'listar os diretores', showall_directors_path %></button>

        <button><%= link_to 'cadastrar um novo filme', new_movie_path %></button>
      </div>
    </nav>


    <%= yield %>


    <footer>
      <button><%= link_to 'back to home', root_path %></button>
    </footer>
  </body>
</html>
